.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #65c063;
}

.title {
    color: white;
}

.disabled {
    background-color: #65c0638b;
}