.sliderCaption {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    border: 2px solid #8dd08c;
}

.sliderWrapper {
    padding: 0 16px 0 8px;
}

.slider {
    margin-top: -14px;
    z-index: 3;
}

